 * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
 }

 html {
	scroll-behavior: smooth;
}

 body {
   font-family: "Poppins", sans-serif;
 }

 @media screen and (prefers-reduced-motion: reduce) {
	html {
		scroll-behavior: auto;
	}
}

 .header {
   width: 100%;
   height: 100vh;
   background-image: url("img/background.jpeg");
   background-repeat: no-repeat;
   background-size: cover;
 }
.nav {
  width: 100%;
  height: 75px;
  position: fixed;
  top: 0;
  background: #012632;
  z-index: 1;
}
.work {
  width: 100%;
  height: 100%;
  background: #1f2235;
}

.navbarContainer {
  display: flex;
  height: 75px;
  align-items: center;
  justify-content: space-between;
}

.navLogo {
  width: 150px;
  color: #fff;
  position: flex;
  margin-left: 50px;
}

.container {
  width: 1500px;
  margin: 0 auto;
}

.navbarRight {
  display: flex;
  list-style-type: none;
}

.navbarRight li a {
  text-decoration: none;
  color: #fff;
  font-weight: 500;
  font-size: 18px;
  padding: 0 15px;
  margin-right: 50px;
}

/* Grid System */
.row {
  display: flex;
  width: 100%;
}
.col-6 {
  width: 50%;
} 
.project-box {
  float: left;
  width: 50%;
  padding: 20px;
}
.contact {
  float: left;
  width: 50%;
  padding: 100px 0;
}

/* About */


.social-items {
  display: flex;
 margin-left: 20px;
}


.linkedin-social {
  padding: 20px;
  color: white;
}

.github-social {
  padding: 20px;
  color: white;
}


.headerContent {
  display: flex;
  align-items: center;
  height: 100vh;
  width: 100%;
  color: #fff;
  margin-left: 5%
}
.header-ul {
  list-style-type: none;
  display: flex;
  margin-bottom: 20px;
}
.header-ul li {
  font-size: 400px;
  width: 50px;
  height: 50px;
  /* border: 2px solid #fff;
  border-radius: 50%; */
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 15px;
}
.header-ul li:first-child {
  margin-left: 0;
} 
.headerSection h1 {
  font-size: 57px;
  font-weight: 700;
  margin-bottom: 20px;
}
.headerSection p {
  font-size: 20px;
  font-weight: 300;
  line-height: 40px;
  margin-bottom: 50px;  
} 



/* PROJECTS */

.title {
  padding-top: 50px;
  padding-bottom: 50px;
  text-align: center;
  font-size: 50px;
  color: rgb(0, 0, 0);
}

.project-tiles {
  padding: 200px;
  background: #23263a;
  color: #fff;
  margin: 10px;
}

.work {
  height: 92vh;
  background-image: url("img/work-image1.jpeg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-color: rgb(0, 0, 0);
}
/* contents inside projects */
.project-tile-header {
  font-size: 20px;
  font-weight: 500;
  margin-bottom: 15px;
  text-align: center;
}
.project-tile-box-p {
  text-align: center;
  font-size: 14px;
  color: #dfdfdf;
}

/* CONTACTS */
.contact {
  text-align: center;
  padding: 5em 0 10em 0;
  height: 92.5vh;
}

.form {
  width: 50%;
  box-sizing: none;
  padding-top: 50px;
  border: 3px solid green;
  display: inline-block
}

input[type=text], select {
  width: 50%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

input[type=submit] {
  width: 10%;
  background-color: #4cafa8;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

/* #message {
  min-height:200px;
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  font: "Poppins", sans-serif;
} */

textarea {
  min-height:200px;
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  resize: none;
}

textarea::placeholder {
  font-family: "Poppins", sans-serif;
}

.lets-talk {
  font-size: 50px;
  margin: 0 auto;
  text-align: center;
}

.justifyCenter {
  justify-content: center;
}